<%- include('../partials/header.ejs')%>
<br>
<br>
<br>
<br>
<br>
<h1>Course Edit</h1>
<div class="container" >
<div class="row" >
    <div class="col-md-4" ></div>
    <div class="col-md-4" >
        <form action="/admincourseupdate/<%= d._id%>" method="post" >
            <div class="text-center">
                <label for="namebox" class="form-label text-center" >Full Name</label>
            <input value="<%= d.username%>" name="username" type="textbox" id = "namebox" placeholder="Name" class ="form-control"/>
            </div>
            <div class=" mt-3 text-center">
                <label for="emailbox" class="form-label text-center" >Email Address</label>
            <input value="<%= d.email%>" name="email" type="email" id = "emailbox" placeholder="Email" class ="form-control"/>
            </div>
            <div class=" mt-3 text-center">
                <label for="mobilebox" class="form-label text-center" >Mobile Number</label>
            <input  value="<%= d.mobile%>" name="mobile" type="textbox" id = "mobilebox" class ="form-control" placeholder="Mobile Number"/>
            </div>
            <div class=" mt-3 text-center">
                <label for="dobbox" class="form-label text-center" >Date Of Birth</label>
            <input value="<%= d.dob%>" name="dob" type="date" id = "dobbox" class ="form-control"/>
            </div>
            <h5 class="text-center mt-3" >Select Gender</h5>
            <div class="form-check">
                <label for="genderbox1" class="form-check-label" >Male</label>
            <input  type="radio" value= "Male" <%= d.gender=='Male'?'checked':'' %> id = "genderbox1" name="gender"  class ="form-check-input"/>
            <br>
            <label for="genderbox2" class="form-check-label" >Female</label>
            <input type="radio" value= "Female" <%= d.gender=='Female'?'checked':'' %> name="gender"   class="form-check-input" id = "genderbox2"/>
            </div>
            <div class="text-center mt-3 " >
    <label for="addressbox" >Enter Address</label>
    <textarea name="address" class="form-control" placeholder="Address" id="addressbox" >
        <%= d.address%>
    </textarea>
            </div>
            <div class="text-center mt-3" >
                <label for="select1" class="form-label text-center" >Select College</label>
    <select name="college" class="form-select" id="select1" >
    <option value="ITM UNIVERSITY" <%= d.college=="ITM UNIVERSITY"?'selected':'' %>>ITM UNIVERSITY</option>
    <option value="Mits College" <%= d.college=="Mits College"?'selected':'' %> >Mits College</option>
    <option value="Jiwaji UNIVERSITY" <%= d.college=="Jiwaji UNIVERSITY"?'selected':'' %> >Jiwaji UNIVERSITY</option>
    </select>
            </div>
            <div class="text-center mt-3" >
                <label for="select2" class="form-label text-center" >Select Cousre</label>
    <select name="course" class="form-select" id="select2" >
    <option value="B.Tech" <%= d.course=='B.Tech'?'selected':'' %> >B.Tech</option>
    <option value="BCA" <%= d.course=='BCA'?'selected':'' %> >BCA</option>
    <option value="MCA" <%= d.course=='MCA'?'selected':'' %> >MCA</option>
    </select>
            </div>
            <div class="text-center mt-3" >
                <label for="select3" class="form-label text-center" >Select Branch</label>
    <select name="branch" class="form-select" id="select3" >
    <option selected value="Computer Science">Computer Science</option>
    </select>
            </div>
            </div>
            <div class="modal-footer justify-content-center">
           <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </form>

    </div>
    <div class="col-md-4" ></div>

</div>
</div>
<%- include('../partials/footer.ejs')%>